<div class="page-header">
  <h1>Ellipse</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <p class="lead">The area of an ellipse with minor and major radii of lengths <%= @a %> and <%= @b %> is <%= @area %>.</p>
  </div>
</div>

<!#The area of an ellipse with minor and major radii of lengths 3.0 and 5.0 is 47.123999999999995.
